{% load filter %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .condition a{
            display: inline-block;
            padding: 3px 5px;
            margin: 5px;
            border: 1px solid #dddddd;
        }
        .condition a.active{
            background-color: #dd5b25;
        }
    </style>
</head>
<body>
    <h4>条件筛选:</h4>
    <div class="condition">
    <div>
        <span>类型：</span>
    {% filter_all arg_dict 'articletype_id'%}
    {% filter_article_type arg_dict article_type %}

    </div>
    <div>
        <span>分类：</span>

    {% filter_all arg_dict 'category_id'%}
        {% filter_category arg_dict categorys %}
    </div>
    </div>
    <h2>文章结果：</h2>
    <ul>
     {% for row in articles %}
        <li>{{ row.nid }}--{{ row.title }}</li>
    {% endfor %}
    </ul>

</body>
</html>