body{
    margin: 0;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.page-header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    line-height: 48px;
    background-color: #132cff;
    color: #fff;
}
.title{
    font-size: 35px;
    margin-left: 30%;
    font-weight: bold;
    color: #4aff9a;
}
.head-img{
    width: 40px;
    height: 40px;
    border: 1px #b3a0ff;
    border-radius: 50%;
}
.head-img-user{
    margin-right: 10%;
    line-height: 48px;
    color: #de7d00;
    font-weight: bold;
}
.page-body{
    position: absolute;
    top: 50px;
    left: 50px;
    bottom: 0;
}
.page-body>ol>li{
    padding: 10px 0;
}