<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="jQuerybxSlider/jquery.bxslider.css">
</head>
<body>
            <ul class="bxslider">
                <li><img src="图片/1.jpg" alt="1"></li>
                <li><img src="图片/2.jpg" alt="2"></li>
                <li><img src="图片/3.jpg" alt="3"></li>
                <li><img src="图片/4.jpg" alt="4"></li>
                <li><img src="图片/5.jpg" alt="5"></li>
            </ul>

    <script type="text/javascript" href="jquery-1.12.4.js"></script>
    <script type="text/javascript" href="jQuerybxSlider/jquery.bxslider.js"></script>
    <script type="text/javascript">
        $(function(){
            $('.bxslider').bxSlider();
        });
    </script>
</body>
</html>